@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@700&display=swap');

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1C;


}

.my-row{
  display: flex;
  align-items: center;
}

h2 {
  font-family: 'Karla', sans-serif;
  ;
}

* {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 550px;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition: all 0.5s linear;
}

.intro-page {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 55px;
  margin: 0;
}

.bold-button {
  cursor: pointer;
  margin-top: 10px;
  width: 153px;
  background-color: #4d5b9e;
  padding: 15px 10px;
  border-radius: 15px;
  border: none;
  color: white;

}
.mid-button {
  cursor: pointer;
  margin-top: 10px;
  width: 153px;
  background-color: #4d5b9e;
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  color: white;

}

.each-question {
  border-bottom: #dbdef0 solid 0.79px;
  padding: 0 0 15px;
  margin-bottom: 15px;
}

.each-question h3 {
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  text-align: left;

}

.container {
  background-color: #F5F7FB;
  position: relative;
  min-height: 700px;
 
}



.picked {
  background-color: #D6DBF5;
}

input[type=radio] {
 display: none;
 
}

label {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 10px;  
  margin: 7px 0;
}


label span:nth-child(-n+3){
  margin-right: 13px;
}
label span{
  padding: 5px 10px;
  transition: .1s linear;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
}

input[type="radio"]:checked + span{
  background-color: #D6DBF5;
}

.right{
  background-color: #94d7a2;
}
.wrong{
  background-color: #F8BCBC;
}
.play-again{
  margin-left: 10px;
  transition: all 0.2s;
}

.checking p{
  font-size: 11px;
  margin: 0;
  padding: 5px 10px;
  transition: .1s linear;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
}
.checking {
  margin: 0;
}
.my-row{
display: flex;
}
.try-again p{
  font-weight: 700;
  margin: 0;
}

.pop-up {
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background-color: #1c1c1c4d;
  transition: all 0.2s linear;
}

.inner{
  background-color:white;
  width: 450px;
  height: 150px;
  border-radius: 15px;
  position: relative;
}
.inner h6{
  font-weight: 700;
  color:#4D5B9E
}
.muted{
 opacity: .5;
}

@media (max-width: 570px) {
  .container {  
    padding: 25px 0px;
    width: 100vw;
    height: 100vh;
  }
 
}